<html>
    <head>
      <meta charset="utf-8">
      <title>TO DO LIST APP</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
      <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet" />
      <link rel="stylesheet" href={{ url_for('static', filename='dashboard.css') }} />
    </head>
    <body>
        <div class="main">
            <header>
                <h1>To do list</h1>
                <form class="input-container" method="POST">
                    {{ form.name(class_="todo-input") }}
                    <button id="button">Create!</button>
                </form>
            </header>
    
            <div class="todo-section">
                <div class="container">
                    <div class="current">
                        <h2 class="todo-type">Current</h2>
                        <ul class="todo-list">
                            {% for todo in current_todos %}
                                <form class="single-todo" method="POST">
                                    <button id="my-button" name="submit" type="submit" value="{{ todo.name }}">{{ todo.name }}</button>
                                </form>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="completed">
                        <h2 class="todo-type">Completed</h2>
                        <ul class="todo-list">
                            {% for todo in completed_todos%}
                                <li class="todo single-todo"><span>{{ todo.name }}</span></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
